[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"], version = "*"}
itsdangerous = "*"
mjml = "*"
aiosmtplib = "*"
amqp = "*"
annotated-types = "*"
argon2-cffi = "*"
asgiref = "*"
asyncpg = "*"
babel = "*"
bcrypt = "==4.0.1"
celery = "*"
cloudinary = "*"
dnspython = "*"
email-validator = "*"
fastapi = "*"
fastapi-cli = "*"
fastapi-mail = "*"
flower = "*"
hiredis = "*"
humanize = "*"
jinja2 = "*"
loguru = "*"
mjml-python = "*"
passlib = "*"
pillow = "*"
premailer = "*"
pydantic = "*"
pydantic-settings = "*"
python-dateutil = "*"
python-jose = "*"
python-magic = "*"
python-multipart = "*"
python-slugify = "*"
redis = "*"
requests = "*"
resend = "*"
sqlalchemy = "*"
sqlmodel = "*"
typing-extensions = "*"
uvicorn = "*"
uvicorn-worker = "*"
urllib3 = "*"
websockets = "*"

[dev-packages]
black = "*"
coverage = "*"
djlint = "*"
factory-boy = "*"
flake8 = "*"
flake8-isort = "*"
mypy = "*"
pre-commit = "*"
psycopg = {extras = ["binary"], version = "*"}
pylint-celery = "*"
pytest = "*"
pytest-sugar = "*"
sphinx = "*"
sphinx-autobuild = "*"
werkzeug = {extras = ["watchdog"], version = "*"}

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[pipenv]
allow_prereleases = true
